/* #region commun */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}
.align-center{
    align-items: center;
}

.list-unstyled{
    list-style: none;
}
.empty{
    margin: 1rem 0;
}

.text-start {
    text-align: start;
}
.justify-btw{
    justify-content: space-between;
}
.align-items-start {
    align-items: flex-start;
}
h3{
    padding: 1rem 0;
}
.input{
    .month, .annual{
        display: inline-block;
        padding-right:2rem;
        font-size: .75rem;
    }
}
.p4-y {
    padding: 2rem 0;
}
.p2-y{
    padding: 1rem 0;
}

.txt{
    font-size: .75rem;
    padding: 1rem 0;
}
.margin-top-negativ{
    margin-top: -7rem;
}
.linkWhite{
    a{
        text-decoration: none;
        color: var(--db-white);
    }
}
.border{
    border: 1px solid gray;
}

nav {
    a {
        text-decoration: none;
        color: black;
    }
}

:root {
    --db-primary: #0061ff;
    --db-secondary: #b4d0e7;
    --db-white: #ffffff;
    --db-black: #000000;
    --db-des-Logo:#a2d39b;
    --db-des-Logo-Bord:#d1e9cd;
    --db-asu-Logo:#61082b;
    --db-uf-Logo:#0093ce;
    --db-topps-Logo:#ff1c1c;
    --db-world-Logo:#d5001f;
    --db-lonely-Logo:#0d2481;
    --db-Clear-Logo:#ffd830;
    --db-background-logos:#f5f5f5;
    --db-bring-txt:#61082b;
}

.conteinerL {
    width: 80%;
    margin: auto;
}
.conteinerS {
    width: 70%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin:0 -1rem;
}
.align-strech{
    align-items: stretch;
}

[class^="col-"]{
    padding: 1rem;
}
.col-{
    width: calc(100% / 5);
    h4{
        color: var(--db-white);
    }
}
.col-4 {
    width: calc((100% / 12) * 4);
    padding: 1rem;
}
.col-5{
    width: calc((100% / 12) * 5);
}
.col-7{
    width: calc((100% / 12) * 7);
}
.col-8 {
    width: calc((100% / 12) * 8);
}
.col-12{
    width: 100%;
}

/* #endregion commun */
.call-to-action{
    text-align: center;
    background-color: var(--db-primary);
    color: var(--db-white);
    padding: .5rem 0;
    margin: 1rem 0;
    a{
        text-decoration: none;
        color: var(--db-white);
    }
}
.call-to-action:hover{
    text-align: center;
    background-color:rgb(0, 8, 231);
    color: var(--db-white);
    padding: .5rem 0;
    margin: 1rem 0;
    a{
        text-decoration: none;
        color: var(--db-white);
    }
}

.call-to-action-negative{
    text-align: center;
    border: 1px solid black;
    color: var(--db-black);
    padding: .5rem 0;
    margin: 1rem 0;
}
.call-to-action-negative:hover{
    text-align: center;
    background-color: var(--db-black);
    color: var(--db-white);
    padding: .5rem 0;
    margin: 1rem 0;
}

/* #region debug*/
.debug * {
    border: 1px dashed;
}

/* #endregion debug */



/* #region header*/
.app_header {
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px #a1a1a1;
    .left, .right{
        display: flex;
        gap: 1rem;

        .menu{
            margin: 0 0 -1rem;
            font-size: .75rem;
            a{
                padding: 0 .25rem;
            }
        }
    }
}
.logo {
    width: 20%;
}
.cta {
    font-size: .75rem;
    background-color: var(--db-primary);
    padding: .2rem .5rem;
    a {
        color: white;
        background-color: var(--db-primary);
        text-decoration: none;
    }
}
.cta:hover {
    font-size: .75rem;
    background-color:rgb(0, 8, 231);
    padding: .2rem .5rem;
    a {
        color: white;
        background-color:rgb(0, 8, 231);
        text-decoration: none;
    }
}


/* #endregion header*/

/* #region main*/
.jumbotron {
    background-color: var(--db-secondary);
    .conteinerL {
        h1 {
            font-size: 2.5rem;
        }
    }
}

.plan{
    background-color: var(--db-white);
}

.m-1{
    margin: 2rem 0 -1rem;
}
.arrowlink {
    font-size: 2rem;

    a {
        color: var(--db-black);
    }
}
/* #region card section */
.users{
    text-align: center;
    border-bottom: 1px solid;
    padding: .5rem;

}
.description{
    margin:0 1rem;
}
.card{
    height: 100%;
}

.supply{
    .price, .subscription{
        padding: .2rem;
    }
    .price{
        font-weight: bold;
    }
    .subscription{
        color: grey;
        margin-bottom: 1rem;
    }
    .list-unstyled{
        li{
            padding: .5rem 0;
            gap: .5rem;
        }
    }
}
hr{
    width: 20%;
}
.highlights{
    h4{
        padding: .5rem 0;
    }
    .list-unstyled{
        li{
            padding: .5rem 0;
            i{
                color: var(--db-primary);                
            }
        }
    }
}
.card{
    flex-direction: column;
    .top{
        flex-grow: 300px;
        font-size: small;
    }
    .bottom{


        padding: 1rem;
    }
    .middle{
        flex-basis: 3rem;
        .freetry{
            text-align: center;
            background-color: var(--db-primary);
            color: var(--db-white);
            padding: .5rem 0;
            margin: 1rem 0;
        }
        .else{
            margin: 1rem 0;
            padding: 1rem 0;
        }
    }
}
/* #endregion card section */

.Teams{
    .conteinerS{
        flex-direction: column;
        justify-content: center;
        h2{
            margin: 1rem 0;
            padding: 2rem 0;
        }
        a{
            font-size: .5rem;
        }
    }
}
.Logos{
    display: flex;
}
.LeftL, .RightL, .CenterL{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}
.LeftL{
    .square:first-child{
        background-color: var(--db-des-Logo);
        border: 1rem solid var(--db-des-Logo-Bord);
    }
    .square:nth-child(2){
        background-color: var(--db-asu-Logo);

    }
    .square:nth-child(3){
        background-color: var(--db-uf-Logo);
        align-items: center;
        img{
            height: 40%;
        }

    }
    .square:nth-child(4){
        background-color: var(--db-topps-Logo);

    }
}
.RightL{
    .square:first-child{
        background-color: var(--db-world-Logo);
    }
    .square:nth-child(2){
        background-color: var(--db-secondary);

    }
    .square:nth-child(3){
        background-color: var(--db-lonely-Logo);


    }
    .square:nth-child(4){
        background-color: var(--db-Clear-Logo);

    }
}
.CentralConteiner{
    background-color: var(--db-background-logos);
    padding: 3rem;
    .Designit{
        width: 50%;
    }
    .txt{
        font-size: .5rem;
    }
}
svg{
    max-width: 100%;
    max-height: 100%;
    path{
        /* fill: var(--db-white); */
    }
}

.square{
    display: flex;
    flex-basis: 50%;
    align-items: center;
    aspect-ratio: 1;
    padding: 2rem;
    fill: var(--db-white);
    

}
.bring{
    background-color: var(--db-secondary);
    h2{
        color: var(--db-bring-txt);
    }
}
.app_footer{
    background-color: black;
}
.FAQ{
    h2{
        padding: 2rem 0;
    }
}
.questionbox{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 1rem;

    .question{
        font-size: .75rem;
    }
}
.q_a:last-child{
    border-bottom: 1px solid black;
}
.language{
    display: flex;
    justify-content: space-between;
    color: grey;
}
.col-:first{
    align-items: stretch;
}


/* #endregion main*/