/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

.list-unstyled{
    list-style: none;
}

.text-start {
    text-align: start;
}

.align-items-start {
    align-items: flex-start;
}

.p-y {
    padding: 2rem 0;
}

.m-y {
    margin: 1rem 0;
}

.positionR {
    position: relative;
    top: 4rem;
}
.border{
    border: 1px solid gray;
}

nav {
    a {
        text-decoration: none;
        color: black;
    }
}

:root {
    --db-primary: #0061ff;
    --db-secondary: #b4d0e7;
    --db-white: #ffffff;
    --db-black: #000000;
}


/* #region debug*/
.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: red;

    .leftMenu,
    .rightMenu {
        background-color: blue;
    }

    .leftMenu,
    .rightMenu {
        display: flex;
        width: 50%;

        .menu {
            width: 80%;

            background-color: green;
        }

        .logo {
            width: 20%;
            background-color: deeppink;
        }
    }
}

.debug [class^=col-] {
    background-color: aqua;
    min-height: 20px;
}
.debug .card{
    border: 1px solid red;
}
.debug .jumbotron {
    height: 50px;
}

/* #endregion debug */

.conteinerL {
    width: 70%;
    margin: auto;
}

.conteinerS {
    width: 60%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex: wrap;
    margin:0 -1rem;
}
.align-strech{
    align-items: stretch;
}

.col-4 {
    width: calc((100% / 12) * 4);
    padding: 1rem;
}

.col-8 {
    width: calc((100% / 12) * 8);
}

/* #region header*/
.app_header {
    margin: 0 1rem;
}

.leftMenu,
.rightMenu {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 1rem 0;

    nav {
        a {
            padding: 0 1rem;
        }
    }
}

.logo {
    width: 20%;
}

.rightMenu {
    justify-content: end;
    text-align: end;
}


.cta {
    display: inline-block;
    background-color: var(--db-primary);
    padding: .2rem 0;

    a {
        color: white;
    }
}


/* #endregion header*/

/* #region main*/
.jumbotron {
    background-color: var(--db-secondary);

    .conteinerL {
        h1 {
            font-size: 2.5rem;
        }
    }

}

.arrowlink {
    font-size: 2rem;

    a {
        color: var(--db-black);
    }
}
.users{
    text-align: center;
    border-bottom: 1px solid;
    padding: .5rem;

}
.description{
    margin:0 1rem;
}
.card{
    height: 100%;
}

.supply{
    h3{
        padding: 1.5rem;
    }
    .price, .subscription{
        padding: .2rem;
    }
    .subscription{
        color: grey;
        margin-bottom: 2rem;
    }
    .list-unstyled{
        li{
            padding: 1rem 0;
        }
    }
    .freetry{
        text-align: center;
        background-color: var(--db-primary);
        color: var(--db-white);
        padding: .5rem 0;
        margin: 1rem 0;
    }
    .else{
        margin: 1rem 0;
        padding: 1rem 0;
    }
    hr{
        width: 20%;
    }
}
.highlights{
    h4{
        padding: 1rem 0;
    }
    .list-unstyled{
        li{
            padding: 1rem 0;
            i{
                color: var(--db-primary);                
            }
        }
    }
}

/* #endregion main*/